*.bak
*.diff
*.hmap
*.ipa
*.mode1v3
*.mode2v3
*.moved-aside
*.orig
*.pbxuser
*.perspectivev3
*.rej
*.swp
*.xccheckout
*.xcuserstate
.DS_Store
.vimrc.local
DerivedData
build/
xcuserdata

tags
tags.sh

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
